@import '../../styles/main.scss';

.summary {
    border: 1px $border-color solid;
    padding-bottom: 20px;
    text-align: center;
    .summary__header {
        font-size: 2em;
        padding: 20px 0;
        background-color: $box-bg-color;
    }

    .summary__total {
        font-size: 1.6em;
        padding: 10px;
        margin-bottom: 20px;

        .summary__total-price_deleted {
            text-decoration: line-through;
        }

        .summary__total-price-num {
            color: $success-color;
        }

        .summary__total-price-num_deleted {
            color: $error-color;
        }
    }

    .applied-codes {
        display: inline-block;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        .applied-codes__header {
            font-size: 1.4em;
            padding: 15px;
            background-color: $box-bg-color;
        }

        .applied-codes__code {
            font-size: 1.3em;
            padding: 20px 10px;
            border: 1px solid $border-color;
            .applied-codes__drop-button {
                margin-left: 20px;
                background-color: $box-bg-color;
                border: 1px solid $error-color;
                outline: none;
                color: $text-color;
            }
        }
    }

    .summary__promo-code {
        .summary__input {
            padding: 10px;
            margin-bottom: 10px;
            font-size: 1.5em;
            text-align: center;

            background-color: $box-bg-color;
            border-radius: 5px;
            border: none;
            outline: none;
            color: $text-color;
        }

        .summary__message {
            margin-bottom: 10px;
            font-size: 1.2em;
            color: $border-color;
        }

        .summary__available-promo-code {
            display: inline-block;
            padding: 10px;
            font-size: 1.4em;
            border: 1px solid $border-color;

            .summary__add-button {
                margin-left: 20px;
                padding: 0 10px;
                color: $text-color;
                background-color: $box-bg-color;
                border: 1px solid $success-color;
                outline: none;
            }
        }
    }
    .summary__button {
        padding: 10px;
        font-size: 20px;
        background-color: transparent;
        border: 1px solid $success-color;
        color: $success-color;

        cursor: pointer;
    }
}