@import '../../styles/base/vars';

.header {
  display: flex;
  justify-content: space-between;
  .nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
  
    a {
      color: $text-color;
    }

    span {
      margin-left: 10px;
    }
  }
}
